.App {
  text-align: center;
}

.check-icon {
  cursor: pointer;
  margin-right: 10px; /* Adjust the spacing as needed */
  font-size: 18px; /* Adjust the font size as needed */
}

.completed {
  text-decoration: line-through;
  color: #888; /* Adjust the color for completed tasks */
}

